<header>         
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar intro-fixed-nav" [containerInside]="true">
      <logo>
          <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
      </logo>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbRippleRadius>
                  <a class="nav-link">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbRippleRadius>
                  <a class="nav-link">Link</a>
              </li>
              <li class="nav-item waves-light" mdbRippleRadius>
                  <a class="nav-link">Profile</a>
              </li>
          </ul>
      </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro hm-purple-light" style="">
      <div class="full-bg-img flex-center">
          <div class="container text-center white-text wow fadeInUp">
              <h2>This Navbar is fixed and transparent</h2>
              <br>
              <h5>It will always stay visible on the top, even when you scroll down</h5>
              <p>Navbar's background will switch from transparent to solid color while scrolling down</p>
              <br>
              <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
          </div>
      </div>
  </div>
  <!-- /.Main -->
</header>     
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
        <!--Section: Features v.3-->
        <section class="section feature-box pt-5">

            <!--Section heading-->
            <h1 class="section-heading pt-4">Why is it so great?</h1>
            <!--Section description-->
            <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

            <!--Grid row-->
            <div class="row features-small pt-5">

                <!--Grid column-->
                <div class="col-lg-5 mb-r center-on-small-only">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0 animated bounce">
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7">

                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-bank blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Safety</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-code blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Technology</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-money blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Finance</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                        </div>
                    </div>
                    <!--Grid row-->
                    
                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-money blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Finance</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                        </div>
                    </div>
                    <!--Grid row-->
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Features v.3-->
  </div>

</main>
<!--Main Layout-->